In [3]:
# Doctor By countries over time

In [5]:
# Install pandas if not already installed
%pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [183]:
#Basic description of dataset


import pandas as pd

# Load the dataset
dataset_file = "Doctors_by_countries.csv"
df = pd.read_csv(dataset_file)
df.sort_values(by=['Countries, territories and areas', 'Year'], inplace=True)

In [185]:

# Get the dataset description for EDA
df_info = df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3603 entries, 15 to 2395
Data columns (total 7 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Countries, territories and areas              3603 non-null   object
 1   Year                                          3603 non-null   int64
 2   Medical doctors (per 10 000 population)       2903 non-null   float64
 3   Medical doctors (number)                      3443 non-null   float64
 4   Generalist medical practitioners (number)     1333 non-null   float64
 5   Specialist medical practitioners (number)     1252 non-null   float64
 6   Medical doctors not further defined (number)  2781 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 225.2+ KB

In [187]:
df.head()

,"Countries, territories and areas",Year,Medical doctors (per 10 000 population),Medical doctors (number),Generalist medical practitioners (number),Specialist medical practitioners (number),Medical doctors not further defined (number)
15,Afghanistan,2001,2.084,4104.0,NaN,NaN,4104.0
14,Afghanistan,2006,1.659,4220.0,NaN,NaN,4220.0
13,Afghanistan,2007,1.823,4723.0,NaN,NaN,4723.0
12,Afghanistan,2008,1.829,4834.0,NaN,NaN,4834.0
11,Afghanistan,2009,2.204,6037.0,NaN,NaN,6037.0

In [189]:
df.describe(include="all")

,"Countries, territories and areas",Year,Medical doctors (per 10 000 population),Medical doctors (number),Generalist medical practitioners (number),Specialist medical practitioners (number),Medical doctors not further defined (number)
count,3603,3603.000000,2903.000000,3.443000e+03,1333.000000,1.252000e+03,2.781000e+03
unique,195,NaN,NaN,NaN,NaN,NaN,NaN
top,Spain,NaN,NaN,NaN,NaN,NaN,NaN
freq,69,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2001.320289,21.085519,6.138621e+04,17274.795949,3.487797e+04,5.310102e+04
std,NaN,14.844936,14.799767,2.046385e+05,25291.511495,6.491819e+04,2.212077e+05
min,NaN,1952.000000,0.125000,3.000000e+00,11.000000,1.000000e+00,0.000000e+00
25%,NaN,1993.000000,7.846000,3.348000e+03,1757.000000,3.639750e+03,1.319000e+03
50%,NaN,2005.000000,21.399000,1.460300e+04,6155.000000,1.230550e+04,8.669000e+03
75%,NaN,2013.000000,32.202000,4.318900e+04,20184.000000,3.345250e+04,2.718600e+04
max,NaN,2021.000000,84.273000,3.401672e+06,194265.000000,1.058559e+06,3.401672e+06

In [191]:
df_shape = df.shape
print(f"Dataset shape: {df_shape}")

Dataset shape: (3603, 7)

In [193]:
df_nulls = df.isnull().sum()
print(f"Displaying all sum of null values: ")
print(f"{df_nulls}")

Displaying all sum of null values:
Countries, territories and areas                   0
Year                                               0
Medical doctors (per 10 000 population)          700
Medical doctors (number)                         160
Generalist medical practitioners (number)       2270
Specialist medical practitioners (number)       2351
Medical doctors not further defined (number)     822
dtype: int64

In [195]:
df_dtypes = df.dtypes
print(f"Displaying the datatypes of each column: ")
print(f"{df_dtypes}")

Displaying the datatypes of each column:
Countries, territories and areas                 object
Year                                              int64
Medical doctors (per 10 000 population)         float64
Medical doctors (number)                        float64
Generalist medical practitioners (number)       float64
Specialist medical practitioners (number)       float64
Medical doctors not further defined (number)    float64
dtype: object

In [197]:

print(f"Displaying unique values of the datasets : ")
print(f"{df.nunique()}")

# df_info, df_shape, df_nulls, df_dtypes, df.nunique()

Displaying unique values of the datasets :
Countries, territories and areas                 195
Year                                              70
Medical doctors (per 10 000 population)         2791
Medical doctors (number)                        3201
Generalist medical practitioners (number)       1269
Specialist medical practitioners (number)       1212
Medical doctors not further defined (number)    2514
dtype: int64

In [199]:
# Understanding the relationship between the Medical doctors(number), Generalist medical practitioners (number),
# Specialist medical practitioners (number), and Medical doctors not further defined (number)  

nan_records = df[df["Medical doctors (number)"].isna()]

# Show the result
print("\nRecords where 'Medical doctors not further defined (number)' is NaN:")
print(nan_records)

Records where 'Medical doctors not further defined (number)' is NaN:
                       Countries, territories and areas  Year  \
149                                           Australia  1961
148                                           Australia  1964
147                                           Australia  1965
146                                           Australia  1966
145                                           Australia  1967
...                                                 ...   ...
3501  United Kingdom of Great Britain and Northern I...  1965
3500  United Kingdom of Great Britain and Northern I...  1966
3499  United Kingdom of Great Britain and Northern I...  1967
3498  United Kingdom of Great Britain and Northern I...  1968
3497  United Kingdom of Great Britain and Northern I...  1969

      Medical doctors (per 10 000 population)  Medical doctors (number)  \
149                                       NaN                       NaN
148                                       NaN                       NaN
147                                       NaN                       NaN
146                                       NaN                       NaN
145                                       NaN                       NaN
...                                       ...                       ...
3501                                      NaN                       NaN
3500                                      NaN                       NaN
3499                                      NaN                       NaN
3498                                      NaN                       NaN
3497                                      NaN                       NaN

      Generalist medical practitioners (number)  \
149                                         NaN
148                                         NaN
147                                         NaN
146                                         NaN
145                                         NaN
...                                         ...
3501                                        NaN
3500                                        NaN
3499                                        NaN
3498                                        NaN
3497                                        NaN

      Specialist medical practitioners (number)  \
149                                         NaN
148                                         NaN
147                                         NaN
146                                         NaN
145                                         NaN
...                                         ...
3501                                        NaN
3500                                        NaN
3499                                        NaN
3498                                        NaN
3497                                        NaN

      Medical doctors not further defined (number)
149                                        11904.0
148                                        13629.0
147                                        13854.0
146                                        14268.0
145                                        14856.0
...                                            ...
3501                                       47505.0
3500                                       48014.0
3499                                       49084.0
3498                                       50306.0
3497                                       51318.0

[160 rows x 7 columns]

In [202]:
# Replacing Missing values

df["Medical doctors (number)"] = df["Medical doctors (number)"].fillna(
    df["Generalist medical practitioners (number)"].fillna(0) +
    df["Specialist medical practitioners (number)"].fillna(0) +
    df["Medical doctors not further defined (number)"].fillna(0))

df["Generalist medical practitioners (number)"] = df["Generalist medical practitioners (number)"].fillna(
    df["Medical doctors (number)"] -
    df["Specialist medical practitioners (number)"].fillna(0) -
    df["Medical doctors not further defined (number)"].fillna(0))

df["Specialist medical practitioners (number)"] = df["Specialist medical practitioners (number)"].fillna(
    df["Medical doctors (number)"] -
    df["Generalist medical practitioners (number)"].fillna(0) -
    df["Medical doctors not further defined (number)"].fillna(0))

df["Medical doctors not further defined (number)"] = df["Medical doctors not further defined (number)"].fillna(
    df["Medical doctors (number)"] -
    df["Generalist medical practitioners (number)"].fillna(0) -
    df["Specialist medical practitioners (number)"].fillna(0))

In [204]:
# Checking further missing values

df_nulls = df.isnull().sum()
print(f"Displaying all sum of null values: ")
print(f"{df_nulls}")

Displaying all sum of null values:
Countries, territories and areas                  0
Year                                              0
Medical doctors (per 10 000 population)         700
Medical doctors (number)                          0
Generalist medical practitioners (number)         0
Specialist medical practitioners (number)         0
Medical doctors not further defined (number)      0
dtype: int64

In [206]:
# finding all the unique countries and unique year

all_countries = df['Countries, territories and areas'].unique().tolist()
print(f"All the countries included in the dataset: ", df['Countries, territories and areas'].nunique())
print(all_countries)

All the countries included in the dataset:  195
['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', "Democratic People's Republic of Korea", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands (Kingdom of the)', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland', 'United Republic of Tanzania', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe', 'occupied Palestinian territory, including east Jerusalem']

In [210]:
all_year = sorted(df['Year'].unique().tolist())
print(f"All the year included in the dataset: ", df['Year'].nunique())
print(all_year)

All the year included in the dataset:  70
[1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [214]:
# Sort the DataFrame by 'Year' and 'Countries, territories and areas'
missing_doctors = df[df['Medical doctors (per 10 000 population)'].isna()]

missing_doctors_sorted = missing_doctors.sort_values(by=['Year', 'Countries, territories and areas'])

# Print the sorted DataFrame
print(missing_doctors_sorted)

                       Countries, territories and areas  Year  \
3036                                              Spain  1952
3035                                              Spain  1953
3034                                              Spain  1954
3033                                              Spain  1955
3032                                              Spain  1956
...                                                 ...   ...
3281                                         Tajikistan  1989
3303                                           Thailand  1989
3226                                            Turkiye  1989
3477  United Kingdom of Great Britain and Northern I...  1989
3547                                         Uzbekistan  1989

      Medical doctors (per 10 000 population)  Medical doctors (number)  \
3036                                      NaN                   28931.0
3035                                      NaN                   29138.0
3034                                      NaN                   31618.0
3033                                      NaN                   32018.0
3032                                      NaN                   32477.0
...                                       ...                       ...
3281                                      NaN                   13843.0
3303                                      NaN                   12713.0
3226                                      NaN                   46708.0
3477                                      NaN                   88607.0
3547                                      NaN                   67734.0

      Generalist medical practitioners (number)  \
3036                                        0.0
3035                                        0.0
3034                                        0.0
3033                                        0.0
3032                                        0.0
...                                         ...
3281                                        0.0
3303                                        0.0
3226                                    22958.0
3477                                    33308.0
3547                                        0.0

      Specialist medical practitioners (number)  \
3036                                        0.0
3035                                        0.0
3034                                        0.0
3033                                        0.0
3032                                        0.0
...                                         ...
3281                                        0.0
3303                                        0.0
3226                                    23750.0
3477                                        0.0
3547                                        0.0

      Medical doctors not further defined (number)
3036                                       28931.0
3035                                       29138.0
3034                                       31618.0
3033                                       32018.0
3032                                       32477.0
...                                            ...
3281                                       13843.0
3303                                       12713.0
3226                                           0.0
3477                                       55299.0
3547                                       67734.0

[700 rows x 7 columns]

In [216]:
df_cleaned = df.dropna(subset=['Medical doctors (per 10 000 population)'])

In [220]:
df_cleaned.isna().sum()

Countries, territories and areas                0
Year                                            0
Medical doctors (per 10 000 population)         0
Medical doctors (number)                        0
Generalist medical practitioners (number)       0
Specialist medical practitioners (number)       0
Medical doctors not further defined (number)    0
dtype: int64